<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.JueseMapper">
	<select id="selectJueseAll" parameterType="fenye"
		resultType="juese">
		SELECT js_id,js_name,js_exe1,js_exe2 FROM juese
		<where>
			<if test="t.js_name!=null and t.js_name!=''">and js_name like "%"#{t.js_name}"%"</if>
		</where>
		LIMIT
		#{page},#{limit}
	</select>

	<select id="selectJueseCount" parameterType="fenye"
		resultType="int">
		SELECT COUNT(js_id) FROM juese
		<where>
			<if test="t.js_name!=null and t.js_name!=''">and js_name like "%"#{t.js_name}"%"</if>
		</where>
	</select>

	<select id="selectJuese" parameterType="int" resultType="juese">
		SELECT
		js_id,js_name,js_exe1,js_exe2 FROM juese WHERE js_id NOT in (SELECT
		uj_jueseid FROM user_juese WHERE uj_userid=#{uj_userid})
	</select>

	<select id="selectJuese_us_id" parameterType="int"
		resultType="juese">
		SELECT js.js_id,js.js_name,js.js_exe1,js.js_exe2 FROM juese
		js INNER JOIN
		user_juese uj ON js.js_id=uj.uj_jueseid WHERE
		uj.uj_userid=#{us_id}
	</select>

	<insert id="insertJuese" parameterType="juese">
		INSERT INTO
		juese(js_name) VALUES(#{js_name})
	</insert>

	<update id="updateJuese" parameterType="juese">
		UPDATE juese SET
		js_name=#{js_name} WHERE js_id=#{js_id}
	</update>

	<delete id="deleteJuese" parameterType="int">
		DELETE FROM juese WHERE
		js_id=#{js_id}
	</delete>

	<select id="selectJuese_zixunshi" resultType="int">
		SELECT js_id FROM
		juese WHERE js_name='咨询师'
	</select>

	<select id="selectJuese_wl_zixunshi" resultType="int">
		SELECT js_id FROM juese WHERE js_name='网络咨询师'
	</select>

	<select id="select_juese_mokuai_js_ids"
		parameterType="java.util.List" resultType="mokuai">
		SELECT DISTINCT m.* FROM juese_mokuai jm INNER JOIN mokuai m ON
		jm_mokuaiid=m.mk_id WHERE jm.jm_jueseid in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item.js_id}
		</foreach>
	</select>

	<select id="select_juese_name_chongfu" parameterType="juese"
		resultType="int">
		SELECT COUNT(js_id) FROM juese WHERE js_name=#{js_name}
		<if test="js_id!=null and js_id!=''">
			and js_id!=#{js_id}
		</if>
	</select>

	<select id="select_Juese_is_User" parameterType="int"
		resultType="int">
		SELECT COUNT(uj_id) FROM user_juese WHERE
		uj_jueseid=#{uj_jueseid}
	</select>
	
	<select id="select_Juese_is_Mokuai" parameterType="int" resultType="int">
	SELECT COUNT(jm_id) FROM juese_mokuai WHERE jm_jueseid=#{jm_jueseid}
	</select>

</mapper>