<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.MokuaiMapper">
	<select id="selectMokuaiAll" resultType="mokuai">
		SELECT
		mk_id,mk_name,mk_fuid,mk_checked,mk_lujing,mk_exe1,mk_exe2 FROM
		mokuai
	</select>

	<insert id="insertMokuai" parameterType="mokuai">
		INSERT INTO
		mokuai(mk_name,mk_fuid,mk_checked,mk_lujing,mk_exe1,mk_exe2)
		VALUES(#{mk_name},#{mk_fuid},#{mk_checked},#{mk_lujing},#{mk_exe1},#{mk_exe2})
	</insert>

	<update id="updateMokuai" parameterType="mokuai">
		UPDATE mokuai SET
		mk_name=#{mk_name},mk_fuid=#{mk_fuid},mk_checked=#{mk_checked},mk_lujing=#{mk_lujing},mk_exe1=#{mk_exe1},mk_exe2=#{mk_exe2}
		WHERE mk_id=#{mk_id}
	</update>

	<delete id="deleteMokuai" parameterType="int">
		DELETE FROM mokuai WHERE
		mk_id=#{mk_id}
	</delete>

	<select id="selectMokuai_mk_id" parameterType="int"
		resultType="mokuai">
		SELECT
		mk_id,mk_name,mk_fuid,mk_checked,mk_lujing,mk_exe1,mk_exe2 FROM
		mokuai
		WHERE mk_id=#{mk_id}
	</select>

	<select id="selectMokuai_js_id" parameterType="juese_mokuai"
		resultType="int">
		SELECT COUNT(jm_id) FROM juese_mokuai WHERE
		jm_jueseid=#{jm_jueseid} AND jm_mokuaiid=#{jm_mokuaiid}
	</select>

	<select id="selectMokuai_js_idAll" parameterType="int"
		resultType="mokuai">
		SELECT
		mk_id,mk_name,mk_fuid,mk_checked,mk_lujing,mk_exe1,mk_exe2 FROM
		mokuai
		FROM juese_mokuai WHERE jm_jueseid=#{jm_jueseid}
	</select>

	<delete id="deleteJuese_mokuai_js_id" parameterType="int">
		DELETE FROM
		juese_mokuai WHERE jm_jueseid=#{jm_jueseid}
	</delete>

	<insert id="insertJuese_mokuai_js_id" parameterType="list">
		INSERT INTO juese_mokuai(jm_jueseid,jm_mokuaiid,jm_exe1,jm_exe2)
		VALUES
		<foreach collection="list" item="item" open="("
			separator="),(" close=")">
			#{item.jm_jueseid},#{item.jm_mokuaiid},#{item.jm_exe1},#{item.jm_exe2}
		</foreach>
	</insert>

	<select id="selectMokuai_isyouzi" parameterType="int"
		resultType="int">
		SELECT COUNT(mk_id) FROM mokuai WHERE mk_fuid=#{mk_fuid}
	</select>

	<select id="selectMokuai_name_ischongfu" parameterType="mokuai"
		resultType="int">
		SELECT COUNT(mk_id) FROM mokuai WHERE mk_name=#{mk_name}
		and
		mk_fuid=#{mk_fuid} 
		<if test="mk_id!=null and mk_id!=''">
		and mk_id!=#{mk_id}
		</if>
	</select>

	<select id="selectMokuai_is_Juese" parameterType="int"
		resultType="int">
		SELECT COUNT(jm_id) FROM juese_mokuai WHERE
		jm_mokuaiid=#{jm_mokuaiid}
	</select>

	<select id="selectMokuai_is_Juese_fu_id" parameterType="int"
		resultType="int">
		SELECT COUNT(jm_id) FROM juese_mokuai WHERE jm_mokuaiid in
		(SELECT mk_id
		FROM mokuai WHERE mk_fuid=#{mk_fuid})
	</select>
	<delete id="deleteMokuai_fu_id" parameterType="int">
		DELETE FROM mokuai WHERE mk_fuid=#{mk_fuid}
	</delete>

</mapper>