<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.StudentMapper">
	<select id="selesctStudent" parameterType="fenye"
		resultType="student">
		select
		xs_id,xs_chuangjiantime,xs_name,xs_dianhua,xs_xingbie,xs_nianling,xs_xueli,xs_zhuangtai,xs_laiyuanqudao,
		xs_laiyuanwangzhi,xs_guanzhu,xs_liyuanguanjianzi,xs_namezixun,xs_suozaiquyu,xs_weixin,xs_qq,xs_laiyuanbumen,
		xs_isbaobei,xs_kecheng,xs_isyouxiao,xs_dafen,xs_ishuifang,xs_shuocihuifangtime,xs_isshangmen,xs_shangmentime,
		xs_wuxiaoyuanyin,xs_isjiaofei,xs_jiaofeitime,xs_jine,xs_istuifei,xs_isjinban,xs_jinbantime,xs_jinbanbeizhu,
		xs_tuifeiyuanyin,xs_dingjinjine,xs_dingjintime,xs_zixunshi,xs_lururen,xs_zixunshibeizhu
		from student
		<where>
			<if test="t.xs_name !=null and t.xs_name !='' ">
				and xs_name like"%"#{t.xs_name}"%"
			</if>
			<if test="t.xs_dianhua !=null and t.xs_dianhua !='' ">
				and xs_dianhua like "%"#{t.xs_dianhua}"%"
			</if>
			<if
				test="t.xs_zixunshi !=null and t.xs_zixunshi !='' and t.xs_zixunshi !=-1">
				and xs_zixunshi=#{t.xs_zixunshi}
			</if>
			<if test="t.xs_qq !=null and t.xs_qq !='' ">
				and xs_qq like "%"#{t.xs_qq}"%"
			</if>
			<if test="t.xs_xingbie !=null and t.xs_xingbie !='' ">
				and xs_xingbie=#{xs_xingbie}
			</if>
			<if test="t.xs_isyouxiao !=null and t.xs_isyouxiao !='' ">
				and xs_isyouxiao=#{t.xs_isyouxiao}
			</if>
			<if test="t.xs_isjiaofei !=null and t.xs_isjiaofei !='' ">
				and xs_isjiaofei=#{t.xs_isjiaofei}
			</if>
			<if test="t.xs_ishuifang !=null and t.xs_ishuifang !='' ">
				and xs_ishuifang=#{t.xs_ishuifang}
			</if>
			<if
				test="t.minxs_chuangjiantime !=null and t.minxs_chuangjiantime !='' ">
				and xs_chuangjiantime &gt; #{t.minxs_chuangjiantime}
			</if>
			<if
				test="t.maxxs_chuangjiantime !=null and t.maxxs_chuangjiantime !='' ">
				and xs_chuangjiantime &lt; #{t.maxxs_chuangjiantime}
			</if>
			<if
				test="t.minxs_shangmentime !=null and t.minxs_shangmentime !='' ">
				and xs_shangmentime=#{t.minxs_shangmentime}
			</if>
			<if
				test="t.maxxs_shangmentime !=null and t.maxxs_shangmentime !='' ">
				and xs_shangmentime=#{t.maxxs_shangmentime}
			</if>
			<if
				test="t.minxs_shuocihuifangtime !=null and t.minxs_shuocihuifangtime !='' ">
				and xs_shuocihuifangtime=#{t.minxs_shuocihuifangtime}
			</if>
			<if
				test="t.maxxs_shuocihuifangtime !=null and t.maxxs_shuocihuifangtime !='' ">
				and xs_shuocihuifangtime=#{t.maxxs_shuocihuifangtime}
			</if>
			<if
				test="t.minxs_jiaofeitime !=null and t.minxs_jiaofeitime !='' ">
				and xs_jiaofeitime=#{t.minxs_jiaofeitime}
			</if>
			<if
				test="t.maxxs_jiaofeitime !=null and t.maxxs_jiaofeitime !='' ">
				and xs_jiaofeitime=#{t.maxxs_jiaofeitime}
			</if>
			<if test="t.minxs_jinbantime !=null and t.minxs_jinbantime !='' ">
				and xs_jinbantime=#{t.minxs_jinbantime}
			</if>
			<if test="t.maxxs_jinbantime !=null and t.maxxs_jinbantime !='' ">
				and xs_jinbantime=#{t.maxxs_jinbantime}
			</if>
			<if test="t.xs_isshangmen !=null and t.xs_isshangmen !='' ">
				and xs_isshangmen=#{t.xs_isshangmen}
			</if>
			<if test="t.minxs_nianling !=null and t.minxs_nianling !='' ">
				and xs_nianling &gt;=#{t.minxs_nianling}
			</if>
			<if test="t.maxxs_nianling !=null and t.maxxs_nianling !='' ">
				and xs_nianling &lt;=#{t.maxxs_nianling}
			</if>
			<if test="t.us_id !=null and t.us_id !='' ">
				and xs_zixunshi=#{t.us_id} OR xs_lururen=#{t.us_id}
			</if>
			<if
				test="t.xs_zixunshi !=null and t.xs_zixunshi !='' and t.xs_zixunshi==-1 ">
				and xs_id not in (SELECT xs_id FROM student WHERE
				xs_zixunshi>0)
			</if>
		</where>
		limit #{page},#{limit}
	</select>
	<select id="selescCount" parameterType="fenye" resultType="int">
		select count(xs_id) from student
		<where>
			<if test="t.xs_name !=null and t.xs_name !='' ">
				and xs_name like"%"#{t.xs_name}"%"
			</if>
			<if test="t.xs_dianhua !=null and t.xs_dianhua !='' ">
				and xs_dianhua=#{t.xs_dianhua}
			</if>
			<if
				test="t.xs_zixunshi !=null and t.xs_zixunshi !='' and t.xs_zixunshi !=-1">
				and xs_zixunshi=#{t.xs_zixunshi}
			</if>
			<if test="t.xs_qq !=null and t.xs_qq !='' ">
				and xs_qq=#{t.xs_qq}
			</if>
			<if test="t.xs_xingbie !=null and t.xs_xingbie !='' ">
				and xs_xingbie=#{xs_xingbie}
			</if>
			<if test="t.xs_isyouxiao !=null and t.xs_isyouxiao !='' ">
				and xs_isyouxiao=#{t.xs_isyouxiao}
			</if>
			<if test="t.xs_isjiaofei !=null and t.xs_isjiaofei !='' ">
				and xs_isjiaofei=#{t.xs_isjiaofei}
			</if>
			<if test="t.xs_ishuifang !=null and t.xs_ishuifang !='' ">
				and xs_ishuifang=#{t.xs_ishuifang}
			</if>
			<if
				test="t.minxs_chuangjiantime !=null and t.minxs_chuangjiantime !='' ">
				and xs_chuangjiantime=#{t.minxs_chuangjiantime}
			</if>
			<if
				test="t.maxxs_chuangjiantime !=null and t.maxxs_chuangjiantime !='' ">
				and xs_chuangjiantime=#{t.maxxs_chuangjiantime}
			</if>
			<if
				test="t.minxs_shangmentime !=null and t.minxs_shangmentime !='' ">
				and xs_shangmentime=#{t.minxs_shangmentime}
			</if>
			<if
				test="t.maxxs_shangmentime !=null and t.maxxs_shangmentime !='' ">
				and xs_shangmentime=#{t.maxxs_shangmentime}
			</if>
			<if
				test="t.minxs_shuocihuifangtime !=null and t.minxs_shuocihuifangtime !='' ">
				and xs_shuocihuifangtime=#{t.minxs_shuocihuifangtime}
			</if>
			<if
				test="t.maxxs_shuocihuifangtime !=null and t.maxxs_shuocihuifangtime !='' ">
				and xs_shuocihuifangtime=#{t.maxxs_shuocihuifangtime}
			</if>
			<if
				test="t.minxs_jiaofeitime !=null and t.minxs_jiaofeitime !='' ">
				and xs_jiaofeitime=#{t.minxs_jiaofeitime}
			</if>
			<if
				test="t.maxxs_jiaofeitime !=null and t.maxxs_jiaofeitime !='' ">
				and xs_jiaofeitime=#{t.maxxs_jiaofeitime}
			</if>
			<if test="t.minxs_jinbantime !=null and t.minxs_jinbantime !='' ">
				and xs_jinbantime=#{t.minxs_jinbantime}
			</if>
			<if test="t.maxxs_jinbantime !=null and t.maxxs_jinbantime !='' ">
				and xs_jinbantime=#{t.maxxs_jinbantime}
			</if>
			<if test="t.xs_isshangmen !=null and t.xs_isshangmen !='' ">
				and xs_isshangmen=#{t.xs_isshangmen}
			</if>
			<if test="t.minxs_nianling !=null and t.minxs_nianling !='' ">
				and xs_nianling &gt;=#{t.minxs_nianling}
			</if>
			<if test="t.maxxs_nianling !=null and t.maxxs_nianling !='' ">
				and xs_nianling &gt;=#{t.maxxs_nianling}
			</if>
			<if test="t.us_id !=null and t.us_id !='' ">
				and xs_zixunshi=#{t.us_id} OR xs_lururen=#{t.us_id}
			</if>
			<if
				test="t.xs_zixunshi !=null and t.xs_zixunshi !='' and t.xs_zixunshi==-1 ">
				and xs_id not in (SELECT xs_id FROM student WHERE
				xs_zixunshi>0)
			</if>
		</where>
	</select>
	<update id="updateStudent" parameterType="student">
		update student
		<set>
			<if test="xs_id !=null and xs_id !='' ">
				xs_id=#{xs_id},
			</if>
			<if test="xs_chuangjiantime !=null and xs_chuangjiantime !='' ">
				xs_chuangjiantime=#{xs_chuangjiantime},
			</if>
			<if test="xs_name !=null and xs_name !='' ">
				xs_name=#{xs_name},
			</if>
			<if test="xs_dianhua !=null and xs_dianhua !='' ">
				xs_dianhua=#{xs_dianhua},
			</if>
			<if test="xs_xingbie !=null and xs_xingbie !='' ">
				xs_xingbie=#{xs_xingbie},
			</if>
			<if test="xs_nianling !=null and xs_nianling !='' ">
				xs_nianling=#{xs_nianling},
			</if>
			<if test="xs_xueli !=null and xs_xueli !='' ">
				xs_xueli=#{xs_xueli},
			</if>
			<if test="xs_zhuangtai !=null and xs_zhuangtai !='' ">
				xs_zhuangtai=#{xs_zhuangtai},
			</if>
			<if test="xs_laiyuanqudao !=null and xs_laiyuanqudao !='' ">
				xs_laiyuanqudao=#{xs_laiyuanqudao},
			</if>
			<if test="xs_laiyuanwangzhi !=null and xs_laiyuanwangzhi !='' ">
				xs_laiyuanwangzhi=#{xs_laiyuanwangzhi},
			</if>
			<if test="xs_guanzhu !=null and xs_guanzhu !='' ">
				xs_guanzhu=#{xs_guanzhu},
			</if>
			<if
				test="xs_liyuanguanjianzi !=null and xs_liyuanguanjianzi !='' ">
				xs_liyuanguanjianzi=#{xs_liyuanguanjianzi},
			</if>
			<if test="xs_namezixun !=null and xs_namezixun !='' ">
				xs_namezixun=#{xs_namezixun},
			</if>
			<if test="xs_suozaiquyu !=null and xs_suozaiquyu !='' ">
				xs_suozaiquyu=#{xs_suozaiquyu},
			</if>
			<if test="xs_weixin !=null and xs_weixin !='' ">
				xs_weixin=#{xs_weixin},
			</if>
			<if test="xs_qq !=null and xs_qq !='' ">
				xs_qq=#{xs_qq},
			</if>
			<if test="xs_laiyuanbumen !=null and xs_laiyuanbumen !='' ">
				xs_laiyuanbumen=#{xs_laiyuanbumen},
			</if>
			<if test="xs_isbaobei !=null and xs_isbaobei !='' ">
				xs_isbaobei=#{xs_isbaobei},
			</if>
			<if test="xs_kecheng !=null and xs_kecheng !='' ">
				xs_kecheng=#{xs_kecheng},
			</if>
			<if test="xs_isyouxiao !=null and xs_isyouxiao !='' ">
				xs_isyouxiao=#{xs_isyouxiao},
			</if>
			<if test="xs_dafen !=null and xs_dafen !='' ">
				xs_dafen=#{xs_dafen},
			</if>
			<if test="xs_ishuifang !=null and xs_ishuifang !='' ">
				xs_ishuifang=#{xs_ishuifang},
			</if>
			<if
				test="xs_shuocihuifangtime !=null and xs_shuocihuifangtime !='' ">
				xs_shuocihuifangtime=#{xs_shuocihuifangtime},
			</if>
			<if test="xs_isshangmen !=null and xs_isshangmen !='' ">
				xs_isshangmen=#{xs_isshangmen},
			</if>
			<if test="xs_shangmentime !=null and xs_shangmentime !='' ">
				xs_shangmentime=#{xs_shangmentime},
			</if>
			<if test="xs_wuxiaoyuanyin !=null and xs_wuxiaoyuanyin !='' ">
				xs_wuxiaoyuanyin=#{xs_wuxiaoyuanyin},
			</if>
			<if test="xs_isjiaofei !=null and xs_isjiaofei !='' ">
				xs_isjiaofei=#{xs_isjiaofei},
			</if>
			<if test="xs_jiaofeitime !=null and xs_jiaofeitime !='' ">
				xs_jiaofeitime=#{xs_jiaofeitime},
			</if>
			<if test="xs_jine !=null and xs_jine !='' ">
				xs_jine=#{xs_jine},
			</if>
			<if test="xs_istuifei !=null and xs_istuifei !='' ">
				xs_istuifei=#{xs_istuifei},
			</if>
			<if test="xs_isjinban !=null and xs_isjinban !='' ">
				xs_isjinban=#{xs_isjinban},
			</if>
			<if test="xs_jinbantime !=null and xs_jinbantime !='' ">
				xs_jinbantime=#{xs_jinbantime},
			</if>
			<if test="xs_jinbanbeizhu !=null and xs_jinbanbeizhu !='' ">
				xs_jinbanbeizhu=#{xs_jinbanbeizhu},
			</if>
			<if test="xs_tuifeiyuanyin !=null and xs_tuifeiyuanyin !='' ">
				xs_tuifeiyuanyin=#{xs_tuifeiyuanyin},
			</if>
			<if test="xs_dingjinjine !=null and xs_dingjinjine !='' ">
				xs_dingjinjine=#{xs_dingjinjine},
			</if>
			<if test="xs_dingjintime !=null and xs_dingjintime !='' ">
				xs_dingjintime=#{xs_dingjintime},
			</if>
			<if test="xs_zixunshi !=null and xs_zixunshi !='' ">
				xs_zixunshi=#{xs_zixunshi},
			</if>
			<if test="xs_lururen !=null and xs_lururen !='' ">
				xs_lururen=#{xs_lururen},
			</if>
			<if test="xs_zixunshibeizhu !=null and xs_zixunshibeizhu !='' ">
				xs_zixunshibeizhu=#{xs_zixunshibeizhu},
			</if>
		</set>
		<where>
			xs_id=#{xs_id}
		</where>
	</update>
	<update id="updateisyouxiao" parameterType="student">
		update student
		<set>
			xs_isyouxiao=2,
		</set>
		<where>
			xs_id=#{xs_id}
		</where>
	</update>
	<insert id="insertStudent" parameterType="student">
		insert into
		student(xs_chuangjiantime,xs_name,xs_dianhua,xs_xingbie,xs_nianling,xs_xueli,xs_zhuangtai,xs_laiyuanqudao,
		xs_laiyuanwangzhi,xs_liyuanguanjianzi,xs_weixin,xs_qq,xs_isbaobei,xs_zixunshi,xs_lururen,xs_zixunshibeizhu)
		values(#{xs_chuangjiantime},#{xs_name},#{xs_dianhua},#{xs_xingbie},#{xs_nianling},#{xs_xueli},#{xs_zhuangtai},
		#{xs_laiyuanqudao},#{xs_laiyuanwangzhi},#{xs_liyuanguanjianzi},#{xs_weixin},#{xs_qq},#{xs_isbaobei},#{xs_zixunshi},#{xs_lururen},
		#{xs_zixunshibeizhu})
	</insert>
	<insert id="insertGenZong" parameterType="genzongrizhi">
		insert into
		genzongrizhi
		(gz_genzongtime,gz_genzongneirong,gz_genzongfangshi,gz_beizhu,gz_xiacigenzongtime,gz_xuesheng,gz_user)
		values(#{gz_genzongtime},#{gz_genzongneirong},#{gz_genzongfangshi},#{gz_beizhu},#{gz_xiacigenzongtime},#{gz_xuesheng},#{gz_user})
	</insert>
	<delete id="deleteStudent" parameterType="int">
		delete from student
		where
		xs_id=#{xs_id}
	</delete>
	<select id="selectUser_student_us_id" parameterType="int"
		resultType="user">
		select
		us_id,us_name,us_password,us_shojihao,us_youxiang,us_issuoding,us_suodingtime,us_passcuowucishu,us_chuangjiantime,us_zuihoutime,us_quanzhong,us_pingfen,
		us_pingfenrenshu,us_isdaka,us_dakatime,us_biezhu,us_exe1,us_exe2 from
		user where us_id=#{us_id}
	</select>
	<select id="selectGongneng_zdfp" resultType="int">
		SELECT gn_iskaiqi
		FROM gongneng WHERE gn_name='自动分配'
	</select>
	<update id="updateGongneng_zdfp" parameterType="int">
		UPDATE gongneng
		SET gn_iskaiqi=#{gn_iskaiqi} WHERE gn_name='自动分配'
	</update>
	<update id="updateStudent_zixunshi" parameterType="student">
		UPDATE student
		SET xs_zixunshi=#{xs_zixunshi} WHERE xs_id=#{xs_id}
	</update>
	<select id="selectStudent_xuanzhong" parameterType="list"
		resultType="student">
		SELECT
		xs_id,xs_chuangjiantime,xs_name,xs_dianhua,xs_xingbie,xs_nianling,xs_xueli,xs_zhuangtai,xs_laiyuanqudao,
		xs_laiyuanwangzhi,xs_guanzhu,xs_liyuanguanjianzi,xs_namezixun,xs_suozaiquyu,xs_weixin,xs_qq,xs_laiyuanbumen,
		xs_isbaobei,xs_kecheng,xs_isyouxiao,xs_dafen,xs_ishuifang,xs_shuocihuifangtime,xs_isshangmen,xs_shangmentime,
		xs_wuxiaoyuanyin,xs_isjiaofei,xs_jiaofeitime,xs_jine,xs_istuifei,xs_isjinban,xs_jinbantime,xs_jinbanbeizhu,
		xs_tuifeiyuanyin,xs_dingjinjine,xs_dingjintime,xs_zixunshi,xs_lururen,xs_zixunshibeizhu
		FROM student WHERE xs_id in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</select>
	<delete id="deleteStudent_duo" parameterType="list">
		delete from student where xs_id in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="tianjia_dongtairizhi" parameterType="dongtai">
		INSERT INTO
		dongtai(dt_student,dt_time,dt_neirong,dt_tianjiaren,dt_exe1,dt_exe2)
		VALUES(#{dt_student},#{dt_time},#{dt_neirong},#{dt_tianjiaren},#{dt_exe1},#{dt_exe2})
	</insert>
	<resultMap type="dongtai" id="dongtai_user">
		<id column="dt_id" property="dt_id" />
		<result column="dt_student" property="dt_student" />
		<result column="dt_time" property="dt_time" />
		<result column="dt_neirong" property="dt_neirong" />
		<result column="dt_tianjiaren" property="dt_tianjiaren" />
		<result column="dt_exe1" property="dt_exe1" />
		<result column="dt_exe2" property="dt_exe2" />
		<result column="us_name" property="us.us_name" />
		<result column="xs_name" property="stu.xs_name" />
	</resultMap>
	<select id="selectDongtai_stu_id" parameterType="fenye"
		resultMap="dongtai_user">
		SELECT * from dongtai d INNER JOIN `user` u INNER JOIN
		student s ON
		d.dt_tianjiaren=u.us_id AND d.dt_student=s.xs_id WHERE
		d.dt_student=#{t.dt_student} limit
		#{page},#{limit}
	</select>
	<update id="updateStudent_exe1_isbeixiugai"
		parameterType="student">
		UPDATE student SET xs_exe1=#{xs_exe1} WHERE
		xs_id=#{xs_id}
	</update>
	<update id="updateStudent_exe1_isbeixiugai_user"
		parameterType="int">
		UPDATE student SET xs_exe1=1 WHERE
		xs_zixunshi=#{xs_zixunshi}
	</update>
	<select id="selectUser_Student_exe1_isbeixiugai"
		parameterType="int" resultType="student">
		SELECT * FROM student WHERE
		xs_zixunshi=#{xs_zixunshi} AND xs_exe1=2
	</select>
	<resultMap type="genzongrizhi" id="genzongrizhi_us_stu">
		<id column="gz_id" property="gz_id" />
		<result column="gz_xuesheng" property="gz_xuesheng" />
		<result column="gz_user" property="gz_user" />
		<result column="gz_genzongtime" property="gz_genzongtime" />
		<result column="gz_genzongneirong" property="gz_genzongneirong" />
		<result column="gz_genzongfangshi" property="gz_genzongfangshi" />
		<result column="gz_beizhu" property="gz_beizhu" />
		<result column="gz_xiacigenzongtime"
			property="gz_xiacigenzongtime" />
		<result column="gz_exe1" property="gz_exe1" />
		<result column="us_name" property="us.us_name" />
		<result column="xs_name" property="stu.xs_name" />
	</resultMap>
	<select id="selectGengzongrizhi_xs_id" parameterType="fenye"
		resultMap="genzongrizhi_us_stu">
		SELECT * FROM genzongrizhi g INNER JOIN student s INNER JOIN `user` u
		ON
		g.gz_xuesheng=s.xs_id AND g.gz_user=u.us_id
		<where>
			<if test="t.gz_xuesheng !=null and t.gz_xuesheng!=''">AND g.gz_xuesheng=#{t.gz_xuesheng}</if>
			<if test="t.stu.xs_name != null and t.stu.xs_name != ''">AND s.xs_name LIKE "%"#{t.stu.xs_name}"%"</if>
			<if
				test="t.min_gz_genzongtime != null and t.min_gz_genzongtime != ''">AND g.gz_genzongtime &gt; #{t.min_gz_genzongtime}</if>
			<if
				test="t.max_gz_genzongtime != null and t.max_gz_genzongtime != ''">AND g.gz_genzongtime &lt; #{t.max_gz_genzongtime}</if>
			<if test="t.us.us_name != null and t.us.us_name != ''">AND u.us_name LIKE "%"#{t.us.us_name}"%"</if>
			<if test="t.gz_exe1 != null and t.gz_exe1 != ''">AND g.gz_exe1=#{t.gz_exe1}</if>
			<if
				test="t.gz_genzongfangshi != null and t.gz_genzongfangshi != ''">AND g.gz_genzongfangshi=#{t.gz_genzongfangshi}</if>
		</where>
		limit #{page},#{limit}
	</select>

	<update id="pl_updateStudent_zixunshi" parameterType="student">
		UPDATE student
		SET xs_zixunshi=#{xs_zixunshi} WHERE xs_id in 
		<foreach collection="pl_fp_zxs" item="item" open="("
			separator="," close=")">
#{item}
		</foreach>
	</update>
</mapper>